name: Django App CD

on:
  push:
    branches:
      - main

env:
  AZURE_WEBAPP_NAME: mateconfapp 

jobs:
  build:
    runs-on: 'ubuntu-latest'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to registry
      uses: docker/login-action@v2
      with:
        registry: https://mateconfholacr.azurecr.io/
        username: ${{ secrets.ACR_USERNAME }}
        password: ${{ secrets.ACR_PASSWORD }}

    - name: Build and push container image to registry
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: mateconfholacr.azurecr.io/${{ secrets.ACR_USERNAME }}/kioskapp:${{ github.sha }}
        file: ./Dockerfile
  deploy:
    runs-on: 'ubuntu-latest'
    needs: build
    steps:
    - name: 'Deploy to Azure Web App for Container'
      uses: azure/webapps-deploy@v2
      with: 
        app-name: ${{ env.AZURE_WEBAPP_NAME }} 
        images: mateconfholacr.azurecr.io/${{ secrets.ACR_USERNAME }}/kioskapp:${{ github.sha }}